* {
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	box-sizing: border-box;
	transition: all .3s ease-in-out;
	
}

img {
	max-width: 100%;
	height: auto;
}

html {
	height: 100%;
}

body, html {
	min-height: 100%;
	width: 100%;
}

.clear::after, .clear::before {
	content: " ";
	display: table;
}

.clear::after {
	clear: both;
}
body {
	
	font-family: $font;
	font: 17px $font;
	color: $black;
	line-height: 27px;
	min-width: 650px;
	width: 100%;
}

.hidden {
	display: none;
}

.header {
	background: url('../images/header-bg.png') no-repeat right center;
	background-color: #f9f8fb;
	min-height: 100vh;
	width: 100%;
	padding: 55px 150px;
	position: relative;	
}
.wrapper {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}